@model IEnumerable<TennisTournament.Entities.Match>

@{
    ViewData["Title"] = "Index";
}

<h1>Listes des matchs</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Créer un nouveau match</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Joueur n° 1
            </th>
            <th>
                Date début du match
            </th>
            <th>
                Joueur n° 2
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstPlayer.FirstName)
                @Html.DisplayFor(modelItem => item.FirstPlayer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondPlayer.FirstName)
                @Html.DisplayFor(modelItem => item.SecondPlayer.LastName)
            </td>
            
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.ID">Modifier</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Détails</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
