@model IEnumerable<TennisTournament.Entities.Player>

@{
    ViewData["Title"] = "Players";
}

<h1>Liste des joueurs</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Créer un nouveau joueur</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Prénom
            </th>
            <th>
                Nom de famille
            </th>
            <th>
                Nationalité
            </th>
            <th>
                Sexe
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexe)
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.ID">Modifier</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Détails</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
